/* Base styling for the container */
.app-container {
  font-family: Arial, sans-serif;
  max-width: 80%;
  margin: 50px auto;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #f9f9f9; /* Light background for contrast */
}

/* Input area styling */
.input-area {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.input-field {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #00A86B; /* Jade green border */
  transition: border-color 0.3s ease;
}

.input-field:focus {
  border-color: #006942; /* Darker shade for focus */
  outline: none;
}

/* Buttons */
.generate-btn {
  padding: 10px 20px;
  border: none;
  background-color: #00A86B; /* Jade green background */
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.generate-btn:hover {
  background-color: #006942; /* Darker shade on hover */
}

.autoExpand {
  width: 100%;
  resize: vertical;
  overflow-y: hidden; /* Hide vertical scrollbar */
}

/* Chat logs */
.chat-history {
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #00A86B; /* Jade green border */
  margin: 20px 0;
  padding: 10px;
  border-radius: 5px;
}

.chat-log {
  margin-bottom: 10px;
  font-weight: 500; /* Slightly bold text for readability */
}

.chat-log.user {
  color: #006942; /* Darker shade of jade for user */
}

.chat-log.assistant {
  color: #00A86B; /* Jade green for the assistant */
}

.loading-container {
  height: 30px;  /* Adjust the height according to your need */
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  visibility: hidden;
}

.chat-content {
  background-color: #f0f0f0;  /* Light gray */
  border-radius: 5px;
  padding: 8px;
  white-space: pre-wrap; /* To ensure code formatting */
  font-family: 'Courier New', monospace;
  overflow-x: auto;
}
